## Hi, Folks!
### Today i show how to connect to your MySQL database from Jupyter Notebook , execute your sql script  and create pandas Dataframe.

In [21]:
# Some imports for work...
import pandas as pd  # - with datafame
from sqlalchemy import create_engine # - create connection to database
import pymysql # package for working with  MySQL

In [10]:
# after that we create some variable for connection
user = "user" # - your login
password = "password123" # - your password (if you don't know, ask your IT Guy ;)
host = "localhost" # - it's ip address , where database is located 
db_name = 'database' # database name
port = 3306 # port of ip adress (by default is 3306 for MySQL)

#we make connection to our MySQL Database
sqlEngine       = create_engine(f'mysql+pymysql://{user}:{password}@{host}/{db_name}', pool_recycle=port)
dbConnection    = sqlEngine.connect() 

# lets check

In [22]:
#it's our sql query where fetching all columns from table
sql = """select *
        fROM databas.psb_regions"""

In [23]:
# lets read data from database and input content to dataframe
df = pd.read_sql(sql, # this is our sql query
                 dbConnection) # and this is our connection to database

In [24]:
# lets see
df.head(2)

,ids,region,psb_region,id,city_id,city_name,city_timezone
0,1,А.ОКР. НЕНЕЦКИЙ,Ненецкий автономный округ,110,110-103-41,Тарко-Сале,МСК+2
1,2,АВТОНОМНЫЙ ОКРУГ НЕНЕЦКИЙ,Ненецкий автономный округ,110,110-103-41,Тарко-Сале,МСК+2

In [25]:
df.shape

(248, 7)

In [26]:
# alrighty then